hydra-core==1.3.2
matplotlib==3.10.0
mkl_service==2.4.0
numpy==2.0.2
omegaconf==2.3.0
pandas==2.2.2
scikit_learn==1.6.1
scipy==1.16.1
#sktime==0.11.4
torch==2.7.1
tsai==0.4.1
tqdm==4.67.1
tensorboard==2.19.0
pytorch-lightning==2.1.1
einops==0.8.1
optuna==4.5.0
clearml==1.16.4
pre-commit==3.8.0
seaborn==0.13.2
